.header {
}
.header__container {
}
.header__body {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.header__logo {
}
.header__navigation {
}
