.headline__body {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: start;
  align-items: center;
}
.headline__title {
  background-color: var(--wrapper-lightgreen);
  padding: 7px;
}
