.marketing {
}
.marketing__container {
}
.marketing__body {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.marketing__info {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: start;
}
.marketing__title {
}
.marketing__description {
}

.marketing__link {
}

.marketing__illustration {
}
