.proposal__body {
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 45px;
}
.proposal__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.proposal__illustration {
  margin: -90px 0 -90px 0;
}
