.contact {
  padding: 80px 100px 140px 100px;
}
.contact__headline {
  padding-bottom: 80px;
}
.contact-wrapper {
  background-color: #f3f3f3;
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.contact-form {
  flex-grow: 1;
  padding: 60px 100px 80px 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: SpaceGrotesk Regular;
  font-size: 20px;
}
.contact-radios {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 35px;
}
.radio-group {
  padding-bottom: 15px;
}
.contact-radio {
  accent-color: #b9ff66;
}

.contact-input {
  font-family: SpaceGrotesk Regular;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 14px;
  width: 100%;
  max-width: 700px;
  padding: 18px 0px 18px 30px;
}

.contact-textareas {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-area {
  flex: 1 1 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact-textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form__message {
  flex-basis: 35%;
}

.contact__illustration {
  margin-right: -325px;
  padding: 2px 0 2px 0;
}
