.feedback__headline {
  padding-bottom: 80px;
  align-self: flex-start;
}
.scroll-wrapper {
}
.scroll-container {
}
.scroll-page__area {
  flex: 0 0 30%;
}
.scroll__container::-webkit-scrollbar {
  display: none;
}
.scroll-page {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
  gap: 40px;
}

.scroll-text {
}
.scroll-text__decoration {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--wrapper-black);
  border: 2px solid #b9ff66;
  border-top: none;
  border-right: none;
  bottom: -17px;
  left: 15%;
  rotate: -45deg;
}
.scroll-sender {
  color: var(--text-color-white);
  margin-left: 15%;
  line-height: 2em;
}
.sender-name {
  color: #b9ff66;
}
