.feedback {
  padding: 80px 100px 140px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.feedback__headline {
  padding-bottom: 80px;
  align-self: flex-start;
}
.scroll-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--wrapper-black);
  border-radius: 45px;
}
.scroll-container {
  padding: 80px 0 200px 0;
  gap: 50px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}
.scroll-page__area {
  flex: 0 0 30%;
}
.scroll__container::-webkit-scrollbar {
  display: none;
}
.scroll-page {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
  gap: 40px;
}

.scroll-text {
  border: 2px solid #b9ff66;
  border-radius: 45px;
  color: white;
  padding: 50px;
  position: relative;
  line-height: 1.7em;
}
.scroll-text__decoration {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--wrapper-black);
  border: 2px solid #b9ff66;
  border-top: none;
  border-right: none;
  bottom: -17px;
  left: 15%;
  rotate: -45deg;
}
.scroll-sender {
  color: white;
  margin-left: 15%;
  line-height: 2em;
}
.sender-name {
  color: #b9ff66;
}
/* .scroll-nav {
  padding: 0 0 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.scroll-link {
  color: white;
  text-decoration: none;
}
.scroll-link:active {
  color: #b9ff66;
  text-decoration: none;
}
.scroll-link:hover {
  color: #dafab3;
  text-decoration: none;
  cursor: grab;
} */
