/* Fonts */
@font-face {
  font-family: "Poppins Light";
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf), format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins Regular";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf), format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf), format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf), format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins Italic";
  src: url(../assets/fonts/Poppins/Poppins-Italic.ttf), format("ttf");
  font-weight: 400;
  font-style: italic;
}

/* Roboto */
@font-face {
  font-family: "Roboto Light";
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf), format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Regular";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf), format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto Medium";
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf), format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf), format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Roboto Italic";
  src: url(../assets/fonts/Roboto/Roboto-Italic.ttf), format("ttf");
  font-weight: 400;
  font-style: italic;
}

/* SpaceGrotesk */
@font-face {
  font-family: "SpaceGrotesk Regular";
  src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf), format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SpaceGrotesk Medium";
  src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf), format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SpaceGrotesk Bold";
  src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf), format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "SpaceGrotesk Light";
  src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf), format("ttf");
  font-weight: 400;
}
