.headline {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: start;
  align-items: center;
}
.headline__title {
  background-color: #b9ff66;
  font-family: SpaceGrotesk Medium;
  font-size: 40px;
  padding: 7px;
}
.headline__description {
  font-family: SpaceGrotesk Regular;
  font-size: 18px;
}
