.marketing {
  padding: 0px 100px 70px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.marketing-block {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: start;
}
