.navigation-bar {
  padding: 60px 100px 70px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  box-sizing: border-box;
  overflow: auto;
}
.logo {
}
.logo-icon {
}
.logo-text {
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.navigation__link {
  transition: all 0.3s ease;
  color: black;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  text-wrap: nowrap;
}
.navigation__link:visited {
  color: black;
  text-decoration: none;
}
.navigation__link:active {
  color: black;
  text-decoration: none;
}
.navigation__link:link {
  color: black;
  text-decoration: none;
}

.navigation__link:hover {
  transition: all 0.3s ease;
  border: 2px solid black;
  border-radius: 5px;
}
