.services__headline {
  padding: 0 100px;
}
.services__list {
  padding: 80px 100px 100px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.services-card {
  flex: 1 1 40%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  border: 2px solid black;
  border-radius: 45px;
  box-shadow: 0px 6px 2px 0px rgb(0, 0, 0);
}
.services-card:nth-child(3n + 1) {
  background-color: #f3f3f3;
}
.services-card:nth-child(3n + 2) {
  background-color: #b9ff66;
}
.services-card:nth-child(3n) {
  background-color: black;
}
.services-card:nth-child(2n + 1) > .card-block > .card-block__name {
  background-color: #b9ff66;
}
.services-card:nth-child(2n + 2) > .card-block > .card-block__name {
  background-color: #b9ff66;
}
.services-card:nth-child(3n + 2) > .card-block > .card-block__name {
  background-color: #f3f3f3;
}
.card-block {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: start;
}
.card-block__name {
  font-family: SpaceGrotesk Medium;
  font-size: 30px;
  padding: 7px;
  border-radius: 7px;
}
.card-block__link {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

.link-text {
  font-family: SpaceGrotesk Regular;
  font-size: 20px;
}
.services-card:nth-child(3n) > .card-block > .card-block__link > .link-text {
  color: white;
}
