.work-process__headline {
}
.work-process__block {
}
.process-panel {
  transition: 1s;
  background-color: #f3f3f3;
  flex: 1;
  padding: 40px 60px;
  /* border: 2px solid rgb(129, 128, 128); */
  border: 2px solid black;
  border-radius: 45px;
  box-shadow: 0px 2px 2px 0px rgb(129, 128, 128);
}

.process-panel[open] {
  transition: 0.5s;
  padding: 40px 60px;
  border: 2px solid black;
  border-radius: 44px;
  box-shadow: 0px 3px 2px 0px rgb(0, 0, 0);
}
.process-panel[open] {
  transition: all 1s ease;
  background-color: #b9ff66;
}

.panel-header {
  display: flex;
  align-items: center;
  gap: 30px;
  outline: none;
}

.panel-header__title {
  flex: 1;
}
.process-panel__description {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 3px solid black;
  transition: 1s;
}

.panel-header__button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
}

.panel-header__button::before,
.panel-header__button::after {
  position: absolute;
  background-color: black;
  width: 60%;
  height: 4px;
  content: "";
  display: block;
  transition: all 1s ease;
}
.panel-header__button::before {
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}
.panel-header__button::after {
  top: 50%;
  left: 20%;
  transform: translate(0, -50%) rotate(90deg);
}
.process-panel[open] .panel-header__button::after {
  transform: translate(0, -50%) rotate(-360deg);
}
